<div class="new-task-container">
    <div class="title">Create a new task</div>
    <div class="field-label">Title</div>
    <input class="task-title" type="text" placeholder="A hard task" ng-model="task.title">
    <div class="field-label">Content</div>
    <textarea class="task-content" rows="5" placeholder="Do it, friend !" ng-model="task.content"></textarea>
    <div class="field-label">Owner</div>
    <select ng-model="task.owner">
        <option ng-repeat="user in users" value="{{ user }}">{{ user }}</option>
    </select>
    <div class="task-priority">
        <div class="field-label">Priority</div>
        <label>
            <input type="radio" ng-model="task.priority" value="low">
            low
        </label>
        <label>
            <input type="radio" ng-model="task.priority" value="medium">
            medium
        </label>
        <label>
            <input type="radio" ng-model="task.priority" value="high">
            high
        </label>
        <label>
            <input type="radio" ng-model="task.priority" value="critical">
            critical
        </label>
    </div>
    <div class="task-deadline">
        <div class="field-label">Deadline</div>
        <datepicker class="datepicker-container" date-set="{{ today.toString() }}" date-format="dd/MM/yyyy">
            <input ng-model="date"/>
        </datepicker>
    </div>
    <div class="buttons-container">
        <div class="btn" ng-click='goBack()'>Go back</div>
        <div class="btn confirm-btn" ng-click='addTask()'>Confirm</div>
    </div>
</div>
