<div class="login-container">
    <div class="title">Login</div>
    <div class="input-container">
        <div class="field-label">Username</div>
        <input class="input-username" type="text" placeholder="username" ng-model="username">
    </div>
    <div class="input-container">
        <div class="field-label">Password</div>
        <input class="input-password" type="password" placeholder="password" ng-model="password">
    </div>
    <div class="buttons-container">
        <div class="btn" ng-click='signIn()'>sign In</div>
        <div class="btn sign-up-btn" ng-click='signUp()'>sign Up</div>
    </div>
</div>
